table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  text-align: left;
  min-width: 10rem;
}

.legend {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.legend span {
  padding: 5px;
  border-radius: 3px;
}
